﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Main.Master" AutoEventWireup="true" CodeBehind="UC.aspx.cs" Inherits="ERP.WebForm32" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div style="background-color: #E1EBFF; font-family: Garamond; font-weight: bold; color: #C0C0C0;"> Module is Under Contrustion </div>
</asp:Content>
